        <footer>
            <div class="footer_wrapper">
                <div class="footer_container">
                    <div class="foot_cont_2">
                        <img class="foot_logo"src="/img/Lemon Logo.jpg" alt="Logo">
                        <div class="foot_links">
                            <a class="foot_link">HOME</a>
                            <a class="foot_link">RECEIPT</a>
                            <a class="foot_link">PHOTO GALLERY</a>
                            <a class="foot_link">VIDEOS</a>
                            <a class="foot_link">ALL CATEGORIES</a>
                        </div>
                        <div class="reserved">
                            2016-2017 LEMON. All right reserved
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div> <!-- end wrapper -->

        <script src="js/main.min.js"></script>
    </body>
</html>
