<header>
    <div class="z_wrapper">
        <img class="logo"src="/img/Logo Copy.jpg" alt="logo">
    </div>
    <div class="f_wrapper">
        <div class="blocks">
            <img class="logo2"src="/img/Lemon Logo.jpg" alt="logo">
            <a href="#" class="b1">HOME</a>
            <a href="#" class="b2">RECEIPT</a>
            <a href="#" class="b3">PHOTO GALLERY</a>
            <a href="#" class="b4">PHOTO GALLERY</a>
            <a href="#" class="b5">VIDEOS</a>
            <a href="#" class="b6">ALL CATEGORIES</a>
        </div>
    </div>
</header>